version: "3.9"

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.prod
    container_name: monitor_api_prod
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - monitor_net

  front:
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    container_name: monitor_front_prod
    restart: unless-stopped
    ports:
      - "3000:80"
    networks:
      - monitor_net

networks:
  monitor_net:
    driver: bridge
